/*
$breakpoint-small: 480px; // For widths more than 480px
$breakpoint-medium: 768px; // For width more than 768px
$breakpoint-large: 960px; // For width more than 960px
$breakpoint-xlarge: 1220px; // For width more than 1220px
*/
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 960px) {

}

@media (max-width: 959px) {
	.du-menu {
		display: none;
	}
	.du-header {
		background: #fff;
	}
	.du-login {
		margin-right: -20px;;
	}

	.du-filter-items,
	.du-filter-location,
	.du-filter-row .du-filter-type {
		text-align: center;
		float: none;
		height: auto;
		line-height: normal;
		padding: 10px 0;
	}
	.du-item {
		margin-bottom: 26px;
	}
	.du-item-row .ba-grid + .ba-grid {
		margin-top: 0;
	}
}

@media (min-width: 1220px) {

}